*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#101828;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  color:white;
}

.container{
  width:100%;
  display:flex;
  justify-content:center;
}

.card{
  background:#1D2939;
  padding:40px;
  border-radius:20px;
  width:350px;
  box-shadow:0 0 20px rgba(0,0,0,0.3);
}

h1{
  text-align:center;
  margin-bottom:10px;
}

.subtitle{
  text-align:center;
  margin-bottom:30px;
  color:#98A2B3;
}

input[type="email"],
input[type="password"]{
  width:100%;
  padding:14px;
  margin-bottom:15px;
  border:none;
  border-radius:10px;
  outline:none;
  background:#344054;
  color:white;
}

button{
  width:100%;
  padding:14px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  margin-top:10px;
  font-size:16px;
}

#signupBtn{
  background:#7F56D9;
  color:white;
}

.login{
  background:#12B76A;
  color:white;
}

button:hover{
  opacity:0.9;
}

.terms{
  display:flex;
  align-items:center;
  gap:10px;
  margin-bottom:15px;
  font-size:14px;
}

#openTerms{
  color:#7F56D9;
  cursor:pointer;
  text-decoration:underline;
}

#message{
  margin-top:20px;
  text-align:center;
  color:#FDB022;
  min-height:20px;
}

/* MODAL */
.modal{
  display:none;
  position:fixed;
  z-index:1000;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.7);
  justify-content:center;
  align-items:center;
}

.modal-content{
  background:white;
  color:black;
  padding:30px;
  width:80%;
  max-width:500px;
  border-radius:15px;
  position:relative;
}

.modal-content h2{
  margin-bottom:15px;
}

#closeTerms{
  position:absolute;
  top:10px;
  right:15px;
  font-size:28px;
  cursor:pointer;
}